drive_folder_id = ""
openai_api_key = ""
n8n_webhook_url = ""

[gdrive_service_account]
type = "service_account"
project_id = ""
private_key_id = ""
private_key = ""
client_email = ""
client_id = ""
auth_uri = ""
token_uri = ""
auth_provider_x509_cert_url = ""
client_x509_cert_url = ""
universe_domain = ""

[email]
sender = ""      # Gmail sender address
password = ""    # Gmail App Password